.row {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.buttons button {
  width: 6.25rem;
  padding: 0.625rem;
  font-size: 0.875rem;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    gap: 0.625rem;
  }
}
